/* Body
======================================*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(#37393f, #1a1616);
}



/* Header
======================================*/
header {
    background-image: url(./images/image-fond.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    box-shadow: 1px 2px 7px rgb(223, 148, 254);
}



/* Navbar
======================================*/
#navbar {                          
    animation: apparition 0.8s ease-in-out;
}

/* Navbar */
#navbar img {                   
    width: 55px;
    border-radius: 100px;
}

/* Logo cv */
#navbar #logo-cv {                 
    font-size: 11px;
    transition: 0.5s;
}

/* Texte cv span */
#navbar #logo-cv span {             
    font-family: 'Montserrat', sans-serif;
    top: 9px;
    right: 13px;
    font-size: 10px;
    font-weight: 400;
}

/* Liens navbar */
#navbar #liens-navbar a {
    color: #feffff;
    font-size: 0.8rem;
    text-shadow: 1px 1px 3px#1a1616;
}

/* Lien réalisations */
#navbar #lien-realisations {                        
    font-weight: 600 !important;
    color: rgb(223, 148, 254) !important;
}

/* Liens before */
#navbar #liens-navbar span::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background-color: rgb(223, 148, 254);
    transition: all 0.4s ease-out;
}

/* Liens hover before */
#navbar #liens-navbar span:hover::before {
    width: 100%;
}

/* Menu derouant */
.show {                                 
    backdrop-filter: blur(7px);
    font-weight: 600;
    padding-bottom: 20px;
    background-color: #37393f9b;
    border-radius: 20px;
}

/* Liens deroulant */
.show a {
    padding-left: 10px;
}

/* Bordure ext menu burger */
#navbar #menu-burger {
    border: 0.5px solid azure;
}

/* Bordure int menu burger */
#navbar .navbar-toggler-icon {
    border: 0.5px solid azure;
    border-radius: 10px;
}



/* Bloc présentation
======================================*/
/* H1 */
#bloc-presentation h1 {
    letter-spacing: 1px;
}

/* H2 */
#bloc-presentation h2 {
    padding-bottom: 15rem;
    color: rgb(223, 148, 254);
    text-shadow: 1px 1px 2px #feffff;
    letter-spacing: 1px;
}

/* Button */
#bloc-presentation .p-3 {
    border: 0.8px solid  #feffff;
    border-radius: 10px;
    color: rgb(223, 148, 254);
    transition: 0.3s;
}

/* Button hover */
#bloc-presentation .p-3:hover {
    background-color: rgba(240, 255, 255, 0.774);
    color: #000000;
    transition: 0.3s;
}

/* Button linkedin */
#bloc-presentation #logo-link {
    transition: 0.3s;
}

/* Button github */
#bloc-presentation #logo-git {
    transition: 0.3s;
}

/* Button linkedin hover*/
#bloc-presentation #logo-link:hover {
    color:  rgb(223, 148, 254) !important;
    transform: scale(1.1);
    transition: 0.3s;
}

/* Button github hover */
#bloc-presentation #logo-git:hover {
    color:  rgb(223, 148, 254) !important;
    transform: scale(1.1);
    transition: 0.3s;
}



/* Realisations
======================================*/
/* Titre section réalisations */
#realisations h2 {
    animation: apparition 0.7s ease-in-out;
}

/* Titre section réalisations hover */
#realisations h2::after {
    display: block;
    height: 1px;
    background-color: rgb(223, 148, 254);
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
    margin-left: 5px;
}

/* Images */
#realisations img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(223, 148, 254);
    transition: 0.5s;
    animation: apparition 0.7s ease-in-out;
}

/* Images hover */
#realisations img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    filter: grayscale(100%);
}



/* Technologies
======================================*/
/* Titre section technologies */
#technologies h2 {
    animation: apparition 0.7s ease-in-out;
}

/* Titre section technologies hover */
#technologies h2:after {
    display: block;
    height: 1px;
    background-color: rgb(223, 148, 254);
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
    margin-left: 5px;
}


#technologies i {
    font-size: 30px;
    animation: apparition 0.7s ease-in-out;
}

#technologies p {
    color:  rgb(223, 148, 254);
    font-size: 10px;
    animation: apparition 0.7s ease-in-out;
}



/* Profil
======================================*/
/* Titre section profil */
#profil h2 {
    animation: apparition 0.7s ease-in-out;
}

/* Titre section profil after */
#profil h2:after {
    display: block;
    height: 1px;
    background-color: rgb(223, 148, 254);
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
    margin-left: 5px;
}

/* Paragraphe */
#profil p {
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px azure;
    border-radius: 10px;
    transition: 0.5s;
    animation: apparition 0.7s ease-in-out;
}

/* Paragraphe hover */
#profil p:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* memoji */
#profil img {
    width: 200px;
    animation: apparition 0.7s ease-in-out;
}



/* Contact
======================================*/
/* Titre section profil */
#contact h2 {
    animation: apparition 0.7s ease-in-out;
}

/* Titre section profil hover*/
#contact h2:after {
    display: block;
    height: 1px;
    background-color: rgb(223, 148, 254);
    width: 100px;
    content: "";
    margin: 0;
    margin-top: 6px;
    margin-left: 5px;
}

/* Icones */
#contact i {
    color:  rgb(223, 148, 254);
    animation: apparition 0.7s ease-in-out;
}

/* Textes */
#contact p {
    animation: apparition 0.7s ease-in-out;
}



/* Footer
======================================*/
/* Droit */
#droit h2 {
    font-size: 10px;
    font-weight: 100;
    animation: apparition 0.7s ease-in-out;
}



/* Keyframe 
======================================*/
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* Media queries 
======================================*/
@media screen and ( min-width: 280px ) and ( max-width: 991px ) {

    /* Header
    ================= */

    /* Bloc présentation */
    #bloc-presentation {
        text-align: center;
    }

    /* col présentation */
    #bloc-presentation #col-presentation {
        margin: 0 !important;
        padding: 0 !important;
    }

    /* H1 */
    #bloc-presentation h1 {
        padding-top: 150px !important;
    }

    /* H2 */
    #bloc-presentation h2 {
        padding-bottom: 25px;
    }

    /* Button */
    #bloc-presentation .p-3 {
        color: azure;
        border-color: rgb(223, 148, 254);
    }

    /* Logos linkedin + github */
    #bloc-presentation #logos-link-git{
        justify-content: center;
        font-size: 40px !important;
    }

    /* logo linkedin */
    #bloc-presentation #logo-link {
        margin: 0 !important;
        font-size: 40px !important;
    }

    /* logo github */
    #bloc-presentation #logo-git {
        font-size: 40px !important;
    }

    /* logo cv */
    #navbar #logo-cv {
        visibility: hidden;
    }
}

