/* Reset
======================================*/
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Prompt', sans-serif;
}


/* Navbar
======================================*/
header {
    background-image: ur;
}

.fixed-top {                            /* navbar */
    animation: apparition 0.8s ease-in-out;
}

.navbar-brand img {                     /* logo vdva */
    width: 65px;
    border-radius: 100px;
    margin-left: 20px;
}

.fa-cloud-arrow-down {                  /* logo cv */
    margin-left: 20px;
    font-size: 18px;
    color: rgb(140, 140, 247);
    transition: 0.5s;
}

.fa-cloud-arrow-down span {             /* logo span cv */
    position: relative;
    font-family: 'Prompt', sans-serif;
    top: 8px;
    right: 17px;
    font-size: 10px;
    font-weight: 600;
}

.fa-cloud-arrow-down:hover {            /* logo cv:hover */
    transform: scale(1.2);
    transition: 0.5s;
    color: azure;
}

.navbar-collapse {                      /* liste */
    justify-content: end;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
}

.navbar-nav {                           /* liste */
    gap: 50px;
    border-radius: 20px;
    transition: 0.3s;
}

.navbar-nav a {                         /* liste */
    transition: 0.5s;
    border-right: 0.9px solid azure;
    border-radius: 50px;
    padding: 0 20px;
}

.liste {                                /* liste */
    color: azure;
}

.realisations {                         /* liste */
    font-weight: 600;
    color: rgb(137, 137, 252);
}

.navbar-nav a:hover {                   /* liste:hover */
    color: azure;
    transform: scale(1.1);
    transition: 0.3s;
    font-weight: 500;
}

.show {                                 /* liste déroulante */
    text-align: center;
    backdrop-filter: blur(7px);
}

















@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/* Media queries 
======================================*/
@media screen and ( min-width: 375px ) and ( max-width: 991px ) {
    .fa-cloud-arrow-down {
        visibility: hidden;
    }
}